@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  overscroll-behavior-y: contain;
}
#__next {
  height: 100%;
}
.fullpage {
  height: 100vh;
  scroll-snap-align: start;
}
.scroll-wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

:root {
  --font-sans: 'Poppins', sans-serif;
  --color-primary: #2563EB;
}
body {
  font-family: var(--font-sans);
  color: #111827;
}
a:hover {
  color: var(--color-primary);
}